.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  width: 50%;
}

.top-name {
  font-family: roboto;
  color: white;
  font-size: small;
}

mat-toolbar {
  background: linear-gradient(to right, #8000ff, #4f8dff, #8ac9ff);
  color: white;
}

.notifRetard {
  position: absolute;
  left: 100px;
  font-size: x-large;
}

.logo {
  margin-top: 5px;
  display: flex;
  height: 50px;
}

.user-icon {
  color: #ffffff;
  padding-left: 10px;
}

.card-bar {
  background: linear-gradient(to right, #8ac9ff, #4f8dff, #8000ff);
  margin-top: 50px;
  width: 100%;
  padding: 0;
  bottom: 0;
  position: fixed;
  border-radius: 0;
}

.card-bar-text {
  padding: 16px;
  font-family: roboto;
  color: white;
  font-size: medium;
}

.handle-check {
  margin-top: 20px;
}

.button {
  position: absolute;
  bottom: 200px;
  left: 587px;
}

.buttonBack {
  position: absolute;
  bottom: 250px;
  left: 587px;
}

.handle-btn {
  background: linear-gradient(#8000ff, #4f8dff);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.handle-btn:hover {
  background: linear-gradient(#4f8dff, #8000ff);
  color: white;
}

.content {
  font-family: roboto;
  color: #434343;
}

.sendConfirm {
  position: absolute;
  top: 150px;
  left: 371px;
}

.dropdown {
  width: 201px;
  height: 222px;
  position: absolute;
  left: 439px;
  top: 150px;
}

.radios {
  text-align: center;
  width: 201px;
  height: 222px;
  right: 439px;
  top: 100px;
  position: absolute;
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.name {
  text-transform: uppercase;
  font-family: roboto;
}
