.example-spacer {
  flex: 1 1 auto;
}

.example-form{
    width: 50%;
}

.top-name{
    font-family: roboto;
    color: white;
}

mat-toolbar {
  background: linear-gradient(to right, #8000ff, #4f8dff, #8ac9ff);
}

.logo {
  margin-top: 5px;
  display: flex;
  height: 50px;
}

.user-icon {
  color: #ffffff;
  padding-left: 10px;
}

.titre-retard{
    position: absolute;
    left: 20px;
}

.card-bar {
  background: linear-gradient(to right, #8ac9ff, #4f8dff, #8000ff);
  margin-top: 50px;
  width: 100%;
  padding: 0;
  bottom: 0;
  position: fixed;
  border-radius: 0;
}

.card-bar-text {
  padding: 16px;
  font-family: roboto;
}

.handle-check {
    margin-top: 20px;
    margin-left: 100px;
  }

.handle-btn {
    background: linear-gradient(#8000ff, #4f8dff);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.handle-btn:hover {
    background: linear-gradient(#4f8dff, #8000ff);;
    color: white;
}

.content {
  font-family: roboto;
  color: #434343;
  text-align: center;
}


.dropdown{
    text-align: center;
    width: 201px;
    height: 222px;
    float: left;
    margin-left: 400px;
    margin-top: 50px;
}

.checkboxes{
    text-align: center;
    width: 201px;
    height: 222px;
    float: left;
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.name {
  text-transform: uppercase;
  font-family: roboto;
}
